<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUIMVVMCombineArtcles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9728DF5827C1461400362DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973199C527C4793D00EBF427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973199D427C4796100EBF427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
